/target
/website/target

# source data
*.fasta
# runtime output
*.trees
*.trace
*.state

# Python artifacts
__pycache__/
*.so
*.pyd

# Python virtual environment
.venv/

# perf
perf.data
perf.data.old
flamegraph.svg

# JavaScript
node_modules/
