[workspace]
members = [
	"crates/b3",
	"crates/base",
	"crates/io",
]

[package]
name = "bio"
version = "0.1.0"
edition = "2021"
license = "AGPL-3.0-only"
authors = ["Andrej KolÄin <self@kaathewise.net>"]

[workspace.dependencies]
criterion = "0.5"
nalgebra = "0.33.2"
petgraph = "0.6.5"
rand = "0.8.5"
rand_xoshiro = "0.6.0"
serde = "1.0.214"
serde_json = "1.0.132"
thiserror = "1.0.67"
wide = "0.7.28"

[profile.bench]
debug = true
