[workspace]
members = [
	"crates/base",
	"crates/parsers",
]

[package]
name = "bio"
version = "0.1.0"
edition = "2021"
license = "AGPL-3.0-only"
authors = ["Andrej KolÄin <self@kaathewise.net>"]

[workspace.dependencies]
chumsky = "0.9.3"
