[workspace]
members = [
	"crates/b3",
	"crates/base",
	"crates/io",
]

[package]
name = "bio"
version = "0.1.0"
edition = "2021"
license = "AGPL-3.0-only"
authors = ["Andrej KolÄin <self@kaathewise.net>"]

[workspace.dependencies]
petgraph = "0.6.5"
thiserror = "1.0.67"
nalgebra = "0.33.2"
