@import "tailwindcss";

input + h2 span.triangle {
	@apply inline-block transition duration-200;
}
input:checked + h2 span.triangle {
	@apply rotate-90;
}

section:target h2 > span.title {
	@apply font-bold;
}
section:target h2 {
	@apply bg-gray-300;
}
section:target h2::before {
	@apply font-bold;
	content: "> ";
}
